:host ::ng-deep.mat-button-toggle.mat-button-toggle-appearance-standard.mat-button-toggle-checked{
    background-color: blueviolet !important;
    color: white !important;
    font-weight: bold;
    border-radius: 6px !important;
}