<div style="display: flex;flex-direction: column;gap:12px;margin-top: 100px;">
    <h1 class="text-bold">Transformation Operators</h1>
    <p class="text-read">Transforming values as they pass through the operator chain is a common task. These operators provide transformation techniques for nearly any use-case you will encounter</p>

    
    <div style="display: flex;flex-direction: column;gap:20px">
        <P class="text-read font-18">Some expanples of Transforming operators</P>
       <ul style="display: flex;flex-direction: column;gap:12px;padding-left: 20px;">
        <li class="li li--route" routerLink="buffer"><a>Buffer</a></li>
        <li class="li li--route" routerLink="buffer-count"><a>Buffer Count</a></li>
        <li class="li li--route" routerLink="buffer-time"><a>Buffer Time</a></li>
        <li class="li li--route" routerLink="buffer-toogle"><a>Buffer Toogle</a></li>
        <li class="li li--route" routerLink="buffer-when"><a>Buffer When</a></li>
        <li class="li li--route" routerLink="concat-map"><a>ConcatMap</a></li>
        <li class="li li--route" routerLink="concat-map-to"><a>ConcatMapTo</a></li>
        <li class="li li--route" routerLink="exhaust"><a>Exhaust</a></li>
        <li class="li li--route" routerLink="exhaust-map"><a>ExhaustMap</a></li>
        <li class="li li--route" routerLink="expand"><a>Expand</a></li>
        <li class="li li--route" routerLink="group-by"><a>GroupBy</a></li>
        <li class="li li--route" routerLink="map"><a>Map</a></li>
        <li class="li li--route" routerLink="map-to"><a>Mapto</a></li>
        <li class="li li--route" routerLink="merge-map"><a>MergeMap</a></li>
        <li class="li li--route" routerLink="merge-map-to"><a>MergeMapTo</a></li>

        <li class="li li--route" routerLink="merge-scan"><a>MergeScan</a></li>
        <li class="li li--route" routerLink="pairwise"><a>Pairwise</a></li>
        <li class="li li--route" routerLink="partition"><a>Partition</a></li>
        <li class="li li--route" routerLink="pluck"><a>Pluck</a></li>
        <li class="li li--route" routerLink="Scan"><a>Scan</a></li>
        <li class="li li--route" routerLink="switch-scan"><a>SwitchScan</a></li>
        <li class="li li--route" routerLink="switch-map"><a>SwitchMap</a></li>
        <li class="li li--route" routerLink="switch-map-to"><a>SwitchMapTo</a></li>
        <li class="li li--route" routerLink="window"><a>Window</a></li>
        <li class="li li--route" routerLink="window-count"><a>WindowCount</a></li>
        <li class="li li--route" routerLink="window-time"><a>WindowTime</a></li>
        <li class="li li--route" routerLink="window-toggle"><a>windowToggle</a></li>
        <li class="li li--route" routerLink="window-when"><a>windowWhen</a></li>
        

       </ul>
    </div>
</div>