<div>
    <h1 class="text-primary">1. What is Dependency Injetion in Angular?</h1>
    <p  class="text-secondary">Ans: Dependency Injection is a coding pattern in which a class asks for dependencies from external source rather
        than creating them itself.</p>
</div>

<div>
    <h1 class="text-primary">2. What is router state?</h1>
    <p class="text-secondary">Ans: Router state is a tree of activated routes. Every node in this tree knows about the 'consumed' url segments,
        the extracted parameters and the resolved data. We can access the current RouterState from anywhere in the
        applicatiob using the router service and the routerstate property</p>
</div>

<div>
    <h1 class="text-primary">3. Directive?</h1>
    <p class="text-secondary">Ans: Functions that are executed when they are found on the dom by the angular compiler</p>
    <p class="text-secondary">Examples: Component, Attribute , Structural, Custom</p>
</div>