<div style="display: flex;flex-direction: column;gap:12px">
    <h1 class="text-bold">Creation Operators</h1>
    <p class="text-read">Creation operators are operators than can be called as standalone functions to create a new Observable</p>

    
    <div style="display: flex;flex-direction: column;gap:20px">
        <P class="text-read font-18">Some expanples of creation operators</P>
       <ul style="display: flex;flex-direction: column;gap:12px;padding-left: 20px;">
        <li class="li li--route" routerLink="from"><a>From</a></li>

       </ul>
    </div>
</div>