<div style="display: flex;flex-direction: column;gap:12px;margin-top: 100px;">
    <h1 class="text-bold">Timer Operator</h1>
    <p class="text-read">

        Creates an observable that will wait for a specified time period, or exact date, before emitting the number 0.
    </p>

    <p> <span class="text-bold">due time : </span> when it to emit first value.</p>
    <p><span class="text-bold">interval : </span>at what particular interval we need to emit the value.</p>

    
    <div style="width: 400px;height:300px;display: flex; gap: 20px;">
        <img src="assets/images/timer.png" style="object-fit:cover;width: 100%;">
       
    </div>


</div>