<div style="display: flex;flex-direction: column;gap:12px;margin-top: 100px;">
    <h1 class="text-bold">Concat Operator</h1>
    <p class="text-read">

        Use this operator if order of the emission is important and you want to first 
        see values emitted by streams that you pass first to the operator.

        Creates an output obs. which sequentially emits all from the first given ob. and then moves on to the next.
    </p>
    <div style="width: 400px;height:300px;display: flex; gap: 20px;">
        <img src="assets/images/concat.png" style="object-fit:cover;width: 100%;">
       
    </div>


</div>