<div [formGroup]="parent">
  <div [formGroupName]="'store'" style="display: flex;flex-direction: column;gap: 20px; ">
    <input type="text" placeholder="Branch ID" formControlName="branch">
    <div *ngIf="parent.get('store.branch')?.hasError('required')  && parent.get('store.branch')?.touched">
      Branch Id is required
    </div>
    <div *ngIf="parent.get('store.branch')?.hasError('invalidBranch')  && parent.get('store.branch')?.touched">
      Invalid branch code
    </div>
    <div *ngIf="parent.get('store.branch')?.hasError('notMoreThanFive')  && parent.get('store.branch')?.touched">
      Not more than five
    </div>
    <input type="text" placeholder="Manager Code" formControlName="code">
    <div *ngIf="parent.get('store.code')?.hasError('required') && parent.get('store.code')?.touched">
      Manager Id is required
    </div>
  </div>
</div>
