<div style="display: flex;height:100vh;justify-content: center;align-items:center">
  <div style="border:1px solid black ;display: flex;justify-content: space-between;align-items: center;padding: 40px;gap: 20px;">
    <div style="display: flex; flex-direction: column;gap: 20px;">
      <h1>logo.svg</h1>
      <span>{{400055|filesize}}</span>
    </div>
    <div style="display: flex; flex-direction: column;gap: 20px;">
      <h1>logo.svg</h1>
      <span>{{20055|filesize}}</span>
    </div>
    <div style="display: flex; flex-direction: column;gap: 20px;">
      <h1>logo.svg</h1>
      <span>{{20055|filesize}}</span>
    </div>
  </div>

</div>
