<!-- <div style="display:flex;flex-direction:row;gap:40px;justify-content:center;align-items: center;height: 100vh;">
  <app-auth-form>
    <h3>Create account</h3>
    <button>Submit</button>
  </app-auth-form>
  <app-auth-form >
    <h3>Login account</h3>
    <button>Submit</button>
    <app-auth-remember (checked)="rememberUser($event)"></app-auth-remember>
  </app-auth-form>
</div> -->
<!-- <app-dynamic-form (submitted)="onSubmitted($event)"></app-dynamic-form> -->

<router-outlet></router-outlet>
