<div style="display: flex;flex-direction: column;gap:20px">
  <div style="padding:20px;border:20px solid black">
    <h1>useValue:Globally provong value with dependency injection</h1>
    <h4>We can use Injection token to name the name of the value we want to set for dependency injection </h4>
  </div>

  <div style="padding:20px;border:20px solid black">

    <h1>useClass:Telling which Class instance to use </h1>
  </div>
  <div style="padding:20px;border:20px solid black">
    <h1>useFactory:We can use condition and based on condition create instance of the service</h1>
  </div>
  <div style="padding:20px;border:20px solid black">
    <h1>useExisting</h1>
  </div>

  <div>
    <h1>Configurable NgModule</h1>
  </div>

</div>
