<div style="display: flex;flex-direction: column;gap:12px;margin-top: 100px;">
    <h1 class="text-bold">Merge Operator</h1>
    <p class="text-read">
        Combines a number of observables stream and concurrently emits all values from 
        every given input stream. As values from any combined sequence are produced, those values
        are emitted as part of the resulting sequence. Such process is often reflected to as 
        flattering in doc.
    </p>

    <p>
        Use Case: Use this operator if you are not concerned with the order of emission
        and is simply interrested in all values coming out from multiple combined streams as 
        they are produced by one stream.
    </p>

    <div style="width: 400px;height:300px;display: flex; gap: 20px;">
        <img src="assets/images/forkjoin.png" style="object-fit:cover;width: 100%;">

    </div>


</div>