<div style="display: flex;flex-direction: column;gap:12px;margin-top: 100px;">
    <h1 class="text-bold">Generate Operator</h1>
    <p class="text-read">Works like traditional for loop</p>
    <button mat-raised-button color="primary" style="width: 200px;" (click)="generateValue()">Click to show generate
        value</button>
        <div style="width: 400px;height:300px;display: flex; gap: 20px;">
            <img src="assets/images/generate.png" style="object-fit:cover;width: 100%;">
            <ul style="display: flex;flex-direction: column;gap:12px;padding-left: 20px;">
                <li class="li li--route"  *ngFor="let data of source$|async">{{data}}</li>
            </ul>
        </div>
   

</div>