<div style="display: flex;flex-direction: column;gap:12px;margin-top: 100px;">
    <h1 class="text-bold">Join Creation Operators</h1>
    <p class="text-read">These are Observable creation operators that also have join functionality -- emitting values of multiple source Observables.</p>

    
    <div style="display: flex;flex-direction: column;gap:20px">
        <P class="text-read font-18">Some expanples of creation operators</P>
       <ul style="display: flex;flex-direction: column;gap:12px;padding-left: 20px;">
        <li class="li li--route" routerLink="combineLatest"><a>CombineLatest</a></li>
        <li class="li li--route" routerLink="concat"><a>Concat</a></li>
        <li class="li li--route" routerLink="forkjoin"><a>ForkJoin</a></li>
        <li class="li li--route" routerLink="merge"><a>Merge</a></li>
        <li class="li li--route" routerLink="partition"><a>Partition</a></li>
        <li class="li li--route" routerLink="race"><a>Race</a></li>
        <li class="li li--route" routerLink="zip"><a>Zip</a></li>

       </ul>
    </div>
</div>