<div style="display: flex;flex-direction: column;gap:12px;margin-top: 100px;">
    <h1 class="text-bold">Forkjoin Operator</h1>
    <p class="text-read">

        ForkJoin takes a number of inpt observables and waits for all passed observable to complete.
        Once they are complete, it will then emit a group of the last values
        from corresponding observables
    </p>

    <p>
        Use Case: Calling multiple parrallel api calls
    </p>

    <div style="width: 400px;height:300px;display: flex; gap: 20px;">
        <img src="assets/images/forkjoin.png" style="object-fit:cover;width: 100%;">

    </div>


</div>